*{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

header h1{
    padding-left:10px;
    background-color: aqua;
    font-weight: bolder;
}

header p{
    padding-right: 10px;
    line-height: 1.7;
    margin-top: auto;
    margin-bottom:auto;
}

.hand1{ 
    width:80px;
}

.hand2{
    width:80px;
}

.game_display{
    padding:20px;
    margin:0 auto;
    width:70%;
}

.my{
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
    height: 200px;

}

.enemy, .myHand{
    margin:0 auto;
    text-align: center;
}

.center{
    text-align: center;
}

.font2{
    font-size: 2rem;
}

.battle{
    width:20%;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 10%;
    padding:10px;
}



.hand1, .hand2{
    padding:10px;
    border: 1px solid blue;
    border-radius: 10%;
    transition: 0.2s;
}

.hand2:hover{
    background-color: blue;
}

.hand1:hover{
    background-color: blue;
}